html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2rem 0;
}

a, a:hover {
  color: #1882BC;
  text-decoration: underline;
}

table {
  margin-left: 30px;
}

td {
  border: 0;
}

td:first-child {
  width:1%;
  white-space:nowrap;
  color: #1882BC;
}

img {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul {
  list-style-position: inside;
  padding-left: 30px;
}

li {
  list-style-type: none;
}
